img{
	width:30%;
	float:left;
	margin:1.66%
}
.top{
	padding-top: 10px;
} 
p{
	font-size: 23px;
	margin-left: 1.66%;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom:  3px solid #f1f1f2 ;
	width: 30%;
	padding-bottom: 10px;

}
